<!DOCTYPE html>
<html>

    <div class="page-header" style="margin-left: 50px";>
     <h1>자기소개입니다. <small>2017.04.30 김은총</small></h1>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <div class="row" style="margin-left: 50px"; align="center";>
      <div class="col-sm-5 col-md-3">
        <div class="thumbnail">
          <img src="https://steemitimages.com/0x0/http://www.amir.ninja/content/images/2015/12/Hello-World.png" alt="Hello, world!">
          <br>
          <br>
          <br>
          <br>
          <div class="caption">
            <h3>Turning Point</h3>
            <br>
            <br>
            <br>
            <br>
            <p>새로운 배움, 새로운 도전</p>
          </div>
        </div>
      </div>
      
       <div class="col-sm-5 col-md-3" style="margin-left: 100px" align="center";>
        <div class="thumbnail">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQfvnXWJNKTwV9-KVEYmqzFwnyHw9OUb3EUCNRILLnRb3TzkszX" alt="Lovely puppy">
          <div class="caption">
            <h3>I</h3>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <h3>Animals</h3>
            <p>Flexitarian, I just love most kinds of animals!</p>
            <s>반려동물 한마리 없지만...</s>
          </div>
        </div>
      </div>
      
       <div class="col-sm-5 col-md-3" style="margin-left:100px" align="center";>
        <div class="thumbnail">
          <img src="http://cfile30.uf.tistory.com/image/26490D4053C8463C35F00F" alt="invisible future">
          <div class="caption">
            <h3>알 수 없는 미래</h3>
            <p>멋사에서 배우다 보면 뭐라도 되겠지</p>
          </div>
        </div>
      </div>
      
    </div>
    

</html>

